body {
	width: 500px;
	font-size: 0.8rem;
	padding-top: 10px;
}

.container-fluid {
	max-height: 300px;
	overflow-y: scroll;
}

.form-check-inline {
	margin-right: 0;
}

.form-control:focus {
	box-shadow: none;
}

.form-control-sm {
	padding: .15rem .5rem;
}

.ip {
	padding-left: 30px;
}

.changed {
	text-align: center;
	margin: -10px 10px 10px;
}